@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
:root{
  --primary-white: #fff;
  --primary-orange: #cf4c18;
  --primary-dark : rgba(255,255,255,0);
  --primary-red: #ef4035;
  --primary-hover-red: #f33501;
}
body {
  font-family: "Roboto Condensed" sans-serif;
}
/**************************************** NAVBAR ***********************************************/
.logo{
  width: 8rem;
}
nav{
  z-index: 2;
}

/***** MENU LINKS *****/


nav a.nav-link {
  /* font-weight: 500; */
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}
.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
  border-top: 0.1875rem solid var(--primary-dark);

}
.navbar-brand {
  max-width: 8rem;
  padding: 0 !important;
  height: 7rem  !important;
}

.navbar-nav > li > a.active, .navbar-nav > li > a:focus{
  border-top: 0.1875rem solid var(--primary-orange) ;
}
.navbar-nav > li > a:hover{
  border-top: 0.1875rem solid var(--primary-orange) ;
}
/**************************************** HEADER ***********************************************/
.header-wrapper{
  position: relative;
  background: url(wallpaper.jpeg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.main-info{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto Condensed" sans-serif;
  z-index: 1;
}
.main-info h1 {
  color: var(--primary-orange);
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
}

/*************** TYPED TEXT *****************/
.typed-text{
  font-size: 2rem;
  color: var(--primary-white);
}

/*************** HEADER MAIN OFFER BUTTON *****************/
.btn-main-offer:hover{
  text-decoration: none;
  background-color: var(--primary-hover-red);
  color: var(--primary-white);
  transition: .2s ease-in-out;
}
.btn-main-offer{
  border: 1px solid var(--primary-red);
  text-transform: uppercase;
  border-radius:0 ;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: var(--primary-white);
  margin : 2rem ;
}

/********************** PARTICLES JS*********************************/
.tsparticles-canvas-el{
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}